.hero {
  padding-top: 63px;
  overflow: hidden;
  position: relative;
}
.hero__title {
  font-weight: 700;
  font-size: clamp(2rem, 1.257rem + 3.048vw, 4rem);
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 12px;
  span {
    color: #67c944;
    font-weight: 900;
  }
}
.hero__subtitle {
  font-weight: 400;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  text-align: center;
  color: rgba(45, 45, 45, 0.5);
  padding-bottom: clamp(2.5rem, 2.036rem + 1.905vw, 3.75rem);
}
.hero__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.5rem, 0.129rem + 1.524vw, 1.5rem);
  padding-bottom: 26px;
}
.hero__download-btn {
  border-radius: 16px;
  padding: 16px clamp(1.25rem, 0.971rem + 1.143vw, 2rem);
  background: #67c944;
  font-weight: 600;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.25rem, 0.111rem + 0.571vw, 0.625rem);
  img {
    width: 24px;
  }
}
.hero__more-btn {
  border-radius: 16px;
  padding: 18px 32px;
  background: rgba(103, 201, 68, 0.1);
  font-weight: 600;
  font-size: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
  text-align: center;
  color: #67c944;
}
.hero__map {
  position: relative;
  z-index: 1;
}
.hero-abs-1 {
  position: absolute;
  left: 0;
  top: 3%;
  z-index: 2;
}
.hero-abs-2 {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 2;
}
.animation-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: absolute;
  z-index: 10;
  opacity: 0;
}
.mailing {
  top: 550px;
  left: 352px;
  animation: fade 2s forwards;
  animation-delay: 3s;
}
.mass-user {
  top: 505px;
  left: 252px;
  animation: fade 2s forwards;
  animation-delay: 6s;
}
.device-control {
  top: 632px;
  left: 635px;
  animation: fade 2s forwards;
  animation-delay: 10s;
}
.device-control .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 12s;
}
.trojans {
  top: 458px;
  left: 669px;
  animation: fade 2s forwards;
  animation-delay: 14s;
}
.trojans .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 16s;
}
.banking-hack {
  top: 496px;
  left: 720px;
  animation: fade 2s forwards;
  animation-delay: 18s;
}
.banking-hack .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 20s;
}
.hacking-isp {
  top: 439px;
  left: 977px;
  animation: fade 2s forwards;
  animation-delay: 22s;
}
.hacking-isp .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 24s;
}
.government {
  top: 581px;
  left: 1054px;
  animation: fade 2s forwards;
  animation-delay: 26s;
}
.government .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 28s;
}
.app-download {
  top: 523px;
  left: 1193px;
  animation: fade 2s forwards;
  animation-delay: 30s;
}
.app-download .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 32s;
}
.mass-user .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 8s;
}
.mailing__info {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 8px 10px;
  box-shadow: 0 2px 4px 0 rgba(137, 144, 210, 0.15);
  background: #fff;
  gap: 10px;
  img {
    width: clamp(0.563rem, 0.4rem + 0.667vw, 1rem);
  }
}
.mailing .mailing__info {
  animation: leftToRight 2s forwards, fade 2s forwards;
  opacity: 0;
  animation-delay: 4s;
}
.mailing__info--text {
  font-weight: 400;
  font-size: clamp(0.5rem, 0.407rem + 0.381vw, 0.75rem);
  text-transform: capitalize;
  color: rgba(45, 45, 45, 0.5);
}
.circle {
  width: 13px;
  height: 13px;
  background: #67c944;
  border-radius: 50%;
}
.pulse {
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes leftToRight {
  0% {
    transform: translateX(-70px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1368px) {
  .app-download {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .government,
  .hacking-isp {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero__more-btn {
    padding: 20px 20px;
  }
  .hero-abs-1 {
    width: 140px;
    top: 38%;
  }
  .hero-abs-2 {
    top: unset;
    bottom: 0;
  }
  .hero__map {
    // position: absolute;
    width: 720px;
    padding-bottom: 160px;
    transform: translateX(30px);
  }
  .mass-user,
  .device-control,
  .trojans {
    display: none;
  }
  .mailing {
    top: 504px;
    left: 169px;
  }
  .banking-hack {
    top: 474px;
    left: 388px;
  }
  .hacking-isp {
    display: flex;
    left: 352px;
    flex-direction: row-reverse;
  }
  .banking-hack {
    animation-delay: 6s;
  }
  .banking-hack .mailing__info {
    animation-delay: 8s;
  }
  .hacking-isp {
    animation-delay: 10s;
  }
  .hacking-isp .mailing__info {
    animation-delay: 12s;
  }
}
@media screen and (max-width: 600px) {
  .mailing {
    top: 480px;
  }
  .hacking-isp {
    top: 407px;
    left: 286px;
  }
  .banking-hack {
    top: 447px;
    left: 383px;
  }
}
@media screen and (max-width: 450px) {
  .hero__map {
    transform: translateX(-30px);
    width: 480px;
    padding-bottom: 170px;
    padding-top: 105px;
  }
  .hero-abs-1 {
    top: 32%;
  }
  .mailing {
    left: 57px;
    top: 530px;
  }
  .banking-hack {
    top: 507px;
    left: 201px;
  }
  .hacking-isp {
    top: 474px;
    left: 134px;
  }
  .hero-abs-2 {
    bottom: -33px;
  }
}
